.banner{
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 600px;
    height: 100%;
    align-items: center;
}
.ban_img{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.ban_txt{
    height: 500px;
    min-height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.ban_txt_up{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ban_txt_up p:first-child{
    font-family: 'TTT';
    font-size: 24px;
    color: rgba(30, 30, 30, 1)
}
.ban_txt_up p:last-child{
    font-family: 'TTT';
    font-size: 16px;
    color: rgba(30, 30, 30, 1)
}
.ban_txt_up h1{
    font-family: 'TTT';
    font-size: 85px;
    font-weight: bold;
    color: #678CD3;
}
.ban_btn{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}
.ban_btn_link{
    cursor: pointer;
    color: white;
    font-family: 'TTT';
    font-weight: bold;
    font-size: 24px;
    border-radius: 16px;
    background-color: #678CD3;
    border: 2px solid #678CD3;
    padding: 20px 35px;
    transition: 0.5s;
}
.ban_btn_link:hover{
    color: #678CD3;
    background-color: #F1F7FF;
    transition: 0.5s;
}
.ban_img :nth-child(1){
    width: 50%;
}
.ban_img :nth-last-child(1){
    width: 40%;
}
@media screen and (max-width: 500px) and (min-width: 360px){
    .banner{
        flex-direction: column;
        min-height: 0;
    }
    .ban_txt{
        padding: 20px 0;
        width: 100%;
        height: 100%;
        gap: 50px;
    }
    .ban_txt_up{
        width: 100%;
        text-align: center;
        height: 35%;
    }
    .ban_txt_up p:first-child{
        font-size: 15px;
    }
    .ban_txt_up h1{
        font-size: 40px;
    }
    .ban_btn{
        width: 100%;
        height: 25%;
        gap: 5px;
        justify-content: space-around;
    }
    .ban_btn_link{
        font-size: 18px;
        padding: 10px;
        text-align: center;
    }
    .ban_img{
        width: 100%;
        padding: 50px 0;
        justify-content: space-around;
        align-items: start;
    }
    .ban_img :nth-child(1){
        width: 40%;
    }
    .ban_img :nth-child(2){
        width: 30%;
    }
  }