.dashboard {
  display: flex;
  flex-direction: column;
  background-color: #f1f7ff;
}
.dashboard__requests {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.dashboard__main {
  padding: 20px 40px;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "profile pets";
}
.dashboard__requests h2 {
  padding: 60px;
  font-size: 28px;
  font-family: "TTT";
  font-weight: 500;
  align-self: self-start;
}
.req_cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
