.dashboard {
  display: flex;
  flex-direction: column;
  background-color: #F1F7FF;
}
.dashboard__requests{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.dashboard__main{
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}
.dashboard__requests h2{
  padding: 60px;
  font-size: 28px;
  font-family: 'TTT';
  font-weight: 500;
  align-self: self-start;
}
.req_cards{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

}