.edit-mode {
  width: 300px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-family: "TTT";
}
.change-pet {
  font-family: "TTT";
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px 60px;
  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
  }
  &__photo {
    gap: 10px;
    display: flex;
    flex-direction: column;
    img {
      width: 250px;
    }
  }
  &__btn {
    width: 100%;
    padding: 7px 0;
    font-size: 16px;
  }
  &__info {
    font-family: "TTT";
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
