.edit-mode {
  width: 300px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-family: "TTT";
}
.pet_photo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
