.edit-mode {
  width: 300px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-family: "TTT";
}
.change-pet {
  font-family: "TTT";
  background-color: #F1F7FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 60px;
  h2{
    font-size: 28px;
  }
  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
  }
  &__photo {
    gap: 10px;
    display: flex;
    flex-direction: column;
    img {
        border: 2px solid #678CD3;
        border-radius: 16px;
      width: 250px;
    }
  }
  &__btn {
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    font-family: 'TTT';
    border: 2px solid #678CD3;
    border-radius: 16px;
    color: #678CD3;
    font-weight: 600;
    background-color: #F1F7FF;
    transition: 0.5s;
  }
  &__btn:hover{
    cursor: pointer;
    background-color: #678CD3;
    color: #F1F7FF;
    transition: 0.5s;
  }
  &__info {
    font-family: "TTT";
    display: flex;
    flex-direction: column;
    width: 40%;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid #678CD3;
    border-radius: 16px;
    padding: 30px;
  }
  &__block{
    display: flex;
    align-items: center;
    gap: 10px;
    p{
        font-size: 16px;
    }
  }
  &__form{
    width: 40%;
    border: 2px solid #678CD3;
    border-radius: 16px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    &__p{
        width: 85%;
        text-align: center;
        font-style: italic;
    }
    button{
        width: 85%;
        padding: 15px 0;
        border: 2px solid #678CD3;
        border-radius: 16px;
        cursor: pointer;
        background-color: #678CD3;
        color:#F1F7FF ;
        font-size: 18px;
        font-family: 'TTT';
        font-weight: 600;
        transition: 0.5s;
    }
    button:hover{
        background-color: #F1F7FF;
        color: #678CD3;
        transition: 0.5s;
    }
  }
  &__input--err{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__input--err input{
    font-family: 'TTT';
    width: 85%;
    padding: 10px 10px;
    border-radius: 16px;
    border: 2px solid #678CD3;
    outline: #678CD3;
  }
  &__input--err input:focus{
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
  }
  .pet_two{
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
}
