.add_pet {
  width: 100%;
  height: 100%;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f7ff;
  gap: 30px;
  h2 {
    text-align: center;
    font-size: 30px;
    font-family: "TTT";
    font-weight: bold;
    color: #678cd3;
  }
  &__content {
    display: flex;
    gap: 20px;
  }
  &__select {
    color: #678cd3;
    font-family: "TTT";
    border-radius: 20px;
  }
}
.pet_photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .pet_photo_btn {
    border-radius: 16px;
    background-color: #f1f7ff;
    color: #678cd3;
    border: 2px solid#678CD3;
    font-size: 20px;
    font-family: "TTT";
    font-weight: 500;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    font-family: "TTT";
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    width: 100%;
  }
  .pet_photo_btn:hover {
    background-color: #678cd3;
    color: #f1f7ff;
    border: 2px solid #678cd3;
    transition: 0.5s;
  }
  img {
    width: 70%;
    border: 2px solid #678CD3;
    border-radius: 16px;
  }
}
.pet_inp {
  padding: 3px 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 25px;
  &--err {
    display: flex;
    flex-direction: column;
    gap: 5px;
    p {
      color: red;
    }
    input {
      width: 100%;
    }
  }
  input {
    padding: 10px 10px;
    font-size: 20px;
    font-family: "TTT";
    font-weight: 500;
    border-radius: 16px;
    border: 0;
    outline: 2px solid #678cd3;
  }
  .pet_two {
    width: 100%;
    display: flex;
    gap: 15px;
  }
  button {
    background-color: #678cd3;
    color: #f1f7ff;
    padding: 20px 0;
    font-size: 20px;
    font-family: "TTT";
    font-weight: 500;
    border: 2px solid #678cd3;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.5s;
  }
  button:hover {
    color: #678cd3;
    background-color: #f1f7ff;
    transition: 0.5s;
  }
}
