.modal {
  display: flex;
  &__form {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
}
.modal img {
  width: 390px;
}

@media screen and (max-width: 500px) and (min-width: 360px){
    .modal img{
      display: none;
    }
}