.card_req {
  width: 90%;
  height: 324px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 20px;
  border-radius: 16px;
  background-color: #f1f7ff;
  gap: 50px;

}
.requestCard{
  border-radius: 16px;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:30px;
  width: 100%;
  min-height: 324px;
  height: 100%;
  background-color: #a0c1ff;
}
.card_req img {
  width: 343px;
  height: 280px;
  border-radius: 16px;
}
.req_info {
  width: 80%;
  height: 280px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.bl_type {
  display: flex;
  padding: 5px;
  background-color: #678cd3;
  width: 55%;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;
}
.bl_type p {
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: "TTT";
}
.req_date {
  background-color: #f1f7ff;
  padding: 10px;
  border-radius: 16px;
}
.req_date p {
  color: #678cd3;
  font-weight: 500;
  font-family: "TTT";
}
.req_base_info {
  display: flex;
  gap: 20px;
}
.req_base_info p {
  font-size: 16px;
  font-weight: 500;
  font-family: "TTT";
}
.req_more_info {
  display: flex;
  gap: 20px;
}
.req_more_info button {
  color: #678cd3;
  border: 2px solid #678cd3;
  background-color: #f1f7ff;
  cursor: pointer;
  width: 25%;
  height: 50px;
  border-radius: 16px;
  font-family: "TTT";
  font-size: 18px;
  font-weight: 550;
  transition: 0.3s;
}
.req_more_info button:hover {
  background-color: #678cd3;
  color: white;
  transition: 0.3s;
}
@media screen and (max-width: 500px) and (min-width: 360px){
  .card_req {
    flex-direction: column;
    min-height: 200px;
    height: 100%;
  }
  .card_req img{
    width: 50%;
    height: 50%;
  }
  .req_info{
    width: 100%;
    height: 100%;
    padding: 0;
    gap: 10px;
  }
  .bl_type{
    width: 100%;
  }
  .req_base_info{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .req_more_info{
    width: 100%;
    gap: 5px;
  }
  .req_more_info button{
    width: 50%;
    min-height: 60px;
    height: 100%;
  }
}
