.donors {
  background-color: #f1f7ff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donors h1 {
  font-family: "TTT";
  font-size: 40px;
  font-weight: 100;
  align-self: flex-start;
  padding: 60px 70px;
}
.don_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
@media screen and (max-width: 500px) and (min-width: 360px){
  .donors h1{
    padding: 20px 0;
    text-align: center;
  }
  .don_cards{
    gap: 20px;
  }
}
