.razdel{
    background-color: #F1F7FF;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px 0;
    h1{
        font-size: 54px;
        font-weight:600;
        font-family: 'TTT';
        color: #678CD3;
        text-align: center;
    }
    .links{
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        a{
            font-size: 20px;
            font-family: 'TTT';
            font-weight: 500;
            color: #F1F7FF;
            background-color: #678CD3;
            border: 2px solid#678CD3;
            padding: 20px 30px;
            border-radius: 16px;
            text-align: center;
            transition: 0.5s;
        }
        a:hover{
            color: #678CD3;
            background-color: #F1F7FF;
            transition: 0.5s;
        }
    }
    .info{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .info_block1{
        width: 95%;
        background-color: #A0C1FF;
        padding: 20px 0;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        img{
            width: 650px;
            height: 542px;
        }
        .info_txt{
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            h2{
                font-size: 28px;
                font-family: 'TTT';
                font-weight: 600;
                color:#F1F7FF;
                text-align: center;
                width: 70%;
            }
            .info_txt_block{
                background-color: #F1F7FF;
                padding: 15px 25px;
                border-radius: 16px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                h3{
                    color: #678CD3;
                    font-size: 20px;
                    font-weight: 600;
                    font-family: 'TTT';
                }
                p{
                    font-family: 'TTT';
                    font-size: 16px;
                    
                }
            }
        }
    }
    .info_block2{
        width: 95%;
        background-color: #A0C1FF;
        padding: 20px 0;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        img{
            width: 647px;
            height: 404px;
        }
        .info_txt{
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            h2{
                width: 75%;
                font-size: 28px;
                font-family: 'TTT';
                font-weight: 600;
                color:#F1F7FF;
                text-align: center;
            }
            .info_txt_block{
                background-color: #F1F7FF;
                width: 100%;
                padding: 15px 25px;
                border-radius: 16px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                h3{
                    color: #678CD3;
                    font-size: 20px;
                    font-weight: 600;
                    font-family: 'TTT';
                }
                p{
                    font-family: 'TTT';
                    font-size: 16px;
                    
                }
            }
        }
    }
    .info_block3{
        width: 95%;
        background-color: #A0C1FF;
        padding: 30px 0;
        border-radius: 16px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .info_imgs{
            width: 40%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-around;
            img:first-child{
                width: 90%;
            }
            img:nth-child(2){
                width: 40%;
            }
            img:nth-child(3){
                width: 40%;
            }
        }

        .info_txt{
            width: 55%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            h2{
                font-size: 28px;
                font-family: 'TTT';
                font-weight: 600;
                color:#F1F7FF;
            }
            .info_txt_block{
                background-color: #F1F7FF;
                width: 100%;
                padding: 15px 25px;
                border-radius: 16px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                h3{
                    color: #678CD3;
                    font-size: 20px;
                    font-weight: 600;
                    font-family: 'TTT';
                }
                p{
                    font-family: 'TTT';
                    font-size: 16px;
                }
            }
        }
    }
}
@media screen and (max-width: 500px) and (min-width: 360px){
    .info_txt{
        width: 90% !important;
    }
    .links{
        flex-direction: column;
        gap: 20px;
    }
    .info_block2{
        flex-direction: column;
        img{
            width: 90% !important;
            height: 100% !important;
        }
    }
    .info_block3{
        flex-direction: column;
    }
    .info_imgs img:nth-child(3){
        display: none;
    }
    .info_imgs img:nth-child(2){
        display: none;
    }
    .info_imgs{
        width: 90% !important; 
    }
    .info_imgs img:nth-child(1){
        width: 100%;
        height: 100%;
    }
}