*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'TTT';
    src: url('../public/fonts/TTTravels-Regular.ttf');
}
.App{
    font-family: 'TTT';
    font-size: 16px;
    font-weight: 400;
}
a{
    text-decoration: none;
}
